@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
  --tran-fast: all ease 0.3s;
  --tran-normal: all ease 0.6s;
  --color-1: #ec4f21;
  --color-2: #fff;
  --color-3: #ec0000;
  --color-5: #0c0a0a;
  --color-6: #eaeaea;
  --radius: 7px;
}
*, ::before, ::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
  margin: 0;
  background: #fff;
  z-index: 1;
  box-sizing: border-box;
}
button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}
button:focus{
  outline: unset;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: var(--color-5);
  transition: all ease .3s;
}
a:hover{
  color: var(--color-1);
}
.trans {
  transition: all ease .5s;
}
.text-center {
  text-align: center;
}
.rlt {
  position: relative;
}
.img-fluid, .img-responsive{
  max-width: 100%;
  height: auto;
}
.align-items-center{
  align-items: center;
}
img {
    vertical-align: middle;
    border-style: none;
}
.list-unstyled{
  list-style: none;
}
.title {
  font-size: 2.6rem;
  font-size: 700;
  text-transform: uppercase;
}
/* begin category products */
.category-home-about {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}
.category-products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.category-product {
  font-size: 1.5rem;
  font-weight: 700;
}
.category-product:hover {
  transform: translateY(-5px);
  transition: var(--tran-fast);
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.3);
}
/* end category products */
/* begin banner home*/
.banner-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(255,255,255,0.1);
  transition: var(--tran-normal);
}
.banner-home::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: rgba(255,255,255,0.1);
  transition: var(--tran-normal);
}
.banner-home:hover::before {
  width: 100%;
  height: 100%;
  transition: var(--tran-normal);
}
.banner-home:hover::after {
  width: 100%;
  height: 100%;
  transition: var(--tran-normal);
}